[submodule "sv2-apps"]
	path = sv2-apps
	url = https://github.com/average-gary/sv2-apps.git
	branch = feat/iroh-transport
[submodule "sv2-ui"]
	path = sv2-ui
	url = https://github.com/stratum-mining/sv2-ui.git
